obj/bpp.o
obj/bpp.res
obj/glad.o
obj/functions/framebuffer_size_callback.o
obj/functions/process_input.o
build/bpp.exe
build/glfw3.dll
build/gmon.out
build/libasprintf-0.dll
build/libatomic-1.dll
build/libboost_atomic-mt.dll
build/libboost_chrono-mt.dll
build/libboost_container-mt.dll
build/libboost_context-mt.dll
build/libboost_contract-mt.dll
build/libboost_coroutine-mt.dll
build/libboost_date_time-mt.dll
build/libboost_fiber-mt.dll
build/libboost_filesystem-mt.dll
build/libboost_graph-mt.dll
build/libboost_iostreams-mt.dll
build/libboost_json-mt.dll
build/libboost_locale-mt.dll
build/libboost_log-mt.dll
build/libboost_log_setup-mt.dll
build/libboost_math_c99-mt.dll
build/libboost_math_c99f-mt.dll
build/libboost_math_c99l-mt.dll
build/libboost_math_tr1-mt.dll
build/libboost_math_tr1f-mt.dll
build/libboost_math_tr1l-mt.dll
build/libboost_nowide-mt.dll
build/libboost_numpy310-mt.dll
build/libboost_prg_exec_monitor-mt.dll
build/libboost_program_options-mt.dll
build/libboost_python310-mt.dll
build/libboost_random-mt.dll
build/libboost_regex-mt.dll
build/libboost_serialization-mt.dll
build/libboost_stacktrace_noop-mt.dll
build/libboost_stacktrace_windbg-mt.dll
build/libboost_stacktrace_windbg_cached-mt.dll
build/libboost_system-mt.dll
build/libboost_thread-mt.dll
build/libboost_timer-mt.dll
build/libboost_type_erasure-mt.dll
build/libboost_unit_test_framework-mt.dll
build/libboost_wave-mt.dll
build/libboost_wserialization-mt.dll
build/libbz2-1.dll
build/libcharset-1.dll
build/libcrypto-1_1-x64.dll
build/libexpat-1.dll
build/libffi-7.dll
build/libformw6.dll
build/libgccjit-0.dll
build/libgcc_s_seh-1.dll
build/libgettextbuild/lib-0-21.dll
build/libgettextpo-0.dll
build/libgettextsrc-0-21.dll
build/libgfortran-5.dll
build/libgmp-10.dll
build/libgmpxx-4.dll
build/libgnarl-12.dll
build/libgnat-12.dll
build/libgomp-1.dll
build/libhistory8.dll
build/libiconv-2.dll
build/libicudt69.dll
build/libicuin69.dll
build/libicuio69.dll
build/libicutest69.dll
build/libicutu69.dll
build/libicuuc69.dll
build/libintl-8.dll
build/libisl-23.dll
build/liblzma-5.dll
build/libmenuw6.dll
build/libmpdec++-2.dll
build/libmpdec-2.dll
build/libncurses++w6.dll
build/libncursesw6.dll
build/libobjc-4.dll
build/libp11-kit-0.dll
build/libpanelw6.dll
build/libpkgconf-3.dll
build/libpython3.10.dll
build/libquadmath-0.dll
build/libreadline8.dll
build/libSPIRV-Tools-diff.dll
build/libSPIRV-Tools-link.dll
build/libSPIRV-Tools-lint.dll
build/libSPIRV-Tools-opt.dll
build/libSPIRV-Tools-reduce.dll
build/libSPIRV-Tools-shared.dll
build/libSPIRV-Tools.dll
build/libsqlite3-0.dll
build/libssl-1_1-x64.dll
build/libssp-0.dll
build/libstdc++-6.dll
build/libsystre-0.dll
build/libtasn1-6.dll
build/libtermcap-0.dll
build/libtre-5.dll
build/libVkLayer_khronos_validation.dll
build/libvulkan-1.dll
build/libwinpthread-1.dll
build/libxxhash.dll
build/libzstd.dll
build/SDL2.dll
build/tcl86.dll
build/tk86.dll
build/zlib1.dll
build/libgettextlib-0-21.dll
gmon.out
